<!-- prettier-ignore -->
<% if(!locals.currentUser){ %>
<h1>Welcome</h1>
<% } %> <% if(locals.currentUser){ %>
<a href="/profile/<%=locals.currentUser.id %> ">
  <div class="index-profile">
    <img class="index-img" src="<%=locals.currentUser.image%>" alt="" />
    <h2 class="current-user"><%=locals.currentUser.name %></h2>
  </div>
</a>
<div id="chatroom-container">
  <h2>Chatrooms</h2>
  <% chatrooms.forEach(chatroom=>{ %>
    <a href="/chatroom/<%=chatroom.guest.id%>">
      <div class="chatroom">
        <div class="img-chatroom"><img src="<%=chatroom.guest.image%>" alt=""></div>
        <div class="sub-chatroom">
          <div><%=chatroom.guest.name %></div>
        <div class="last-message"><%=chatroom.lastMessage%> </div>
        </div>
        
      </div>
       
    </a>
     <% }) %> 
     <a href="/profile/<%=locals.currentUser.id %> "><img src="../images/text.png" alt="" class="add-chatroom"></a>
  <% }else{ %>
  <div id="chatroom-container">
    <h2><a class="log-a" href="/sign-up">Sign Up</a> or <a class="log-a" href="/log-in">Log In</a> to view chatroooms</h2>
  </div>
  <% } %>
</div>
