<h1>Profile</h1>
<!-- <div><%=locals.currentUser.name %>  <%=locals.currentUser.lastName %></div> -->
<img class="profile-img" src="../images/user.png" alt="" />
<div class="profile-info">Username: <%=locals.currentUser.username %></div>

<span class="profile-info">Name: <%=locals.currentUser.name %></span>

<div class="profile-info">Lastname: <%=locals.currentUser.lastName %></div>
<button>
  <a href="/profile/edit/<%=locals.currentUser.id %> "> Update</a>
</button>
<h3>Friends:</h3>
<div id="message-container">
  <%user.friends.forEach(friend=>{ %>
  <div class="friend-list"><%=friend.user.name %></div>
  <form action="/chatroom/<%=locals.currentUser.id%>?_method=PUT" method="POST">
    <input type="hidden" name="guest" id="" value="<%=friend.user.id%>" />
    <input type="hidden" name="host" id="" value="<%=locals.currentUser.id%>" />

    <button type="submit">Chatroom</button>
  </form>
  <% }) %>
</div>
