

<form action="/profile/search" method="GET" class="form">
  <h2>Search User</h2>
  <div class="img-upload-icons">
    <img src="../images/search.png" alt="">
  </div>
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Search User" />
  <div class="error-message"><%=error %> </div>
  <button type="submit">Search</button>
</form>
<div id="chatroom-container">
  <% if(users){ %> <%users.forEach(user => { %>
  <div class="friend-list">
    <div class="img-chatroom">
      <img src="<%=user.image%>" alt="">
    </div>
    
      <div><%=user.username %></div> 



    <form
      action="/profile/search/<%=locals.currentUser.id %>?_method=PUT"
      method="POST"
    >

      <input type="hidden" name="author" id="" value="<%=user.id%>" />
      <button type="submit" id="submit-btn" class="add-btn"> <img src="../images/plus.png" alt=""></button>
    </form>
  </div>
  <% } )%> <% } %>
</div>
