<h1>Profile</h1>
<!-- <div><%=locals.currentUser.name %>  <%=locals.currentUser.lastName %></div> -->

<div>Username: <%=locals.currentUser.username %></div>
<form
  class="form"
  action="/profile/<%=user.id %>?_method=PUT"
  method="POST" enctype="multipart/form-data"
>
  <label class="image-label" for="image">
    <input type="file" name="image" id="image" class="img-upload">
    <div class="img-upload-user">
      <img src="<%=user.image%>" alt="" />
    </div>
    
  </label>
  <label for="name">name:</label>
  <input type="text" name="name" id="" value="<%=user.name %> " />
  <label for="lastname">Lastname:</label>
  <input type="text" name="lastname" id="" value="<%=user.lastName %> " />
  <button type="submit">Update</button>
</form>
